*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    border: 2px solid black;
}
nav{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Sign{
    border: none;
    width: 70px;
    height: 30px;
    background-color: #C11119;
}
.Sign a{
    text-decoration: none;
    color: white;
    font-size: 12px;
    text-align: center;
    padding: 10px;
}